services:
  server:
    build:
      context: ./backend   
      dockerfile: Dockerfile 
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env    
    volumes:
      - ./backend:/app 
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379/0

  # Service 2: Frontend
  frontend:
    build:
      context: ./frontend     # <--- Clean! Points to the subfolder
      dockerfile: Dockerfile  # <--- Looks for Dockerfile INSIDE frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8000

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
volumes:
  redis_data: